{% extends 'layout.twig' %}

{% block content %}
 <form action="{{ path_for('voucher_create') }}" method="post">
 {% if flash.error %}
  <p>{{ flash.error }}</p>
  {% if flash.errors %}
    <ul>
    {% for error in flash.errors %}
    <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
 {% endif %}
  <input type="text" name="shop" placeholder="e.g amazon">
  <br>
  <input type="text" name="code" placeholder="code">
    <br>
  <input type="submit" value="Create">
 </form>
{% endblock %}